/* Color Palette */
/* 000000 black */ 
/* 14213d dark blue*/
/* fca311 mustard*/
/* e5e5e5 grey*/
/* ffffff white*/


body {
    background-color: aliceblue;
    font-family: 'Times New Roman';
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #14213d; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
    padding-top: 20%;
    padding-left: 20%;
    text-decoration: none;
    font-size: 1.5vw;
    color: #ffffff;
    display: block;
    transition: 0.2s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #fca311;
}

/* The button used to open the sidebar */
.openbtn {
    z-index: 1;
    position: fixed;
    font-size: 15px;
    cursor: pointer;
    background-color: #14213d;
    color: #ffffff;
    padding: 5px 5px;
    border: none;
    z-index: 1;
}

.openbtn:hover {
    background-color: #fca311;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .2s; /* If you want a transition effect */
    padding: 20px;
}

.main {
    padding-top: 35px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.dropdown {
    position: absolute;
    bottom: 0;
    padding-bottom: 10%;
}

.dropdown-menu {
    background-color: #000000;
}


/* Maintenance */
.specsSticky {
    position: fixed;
    top: 0;
    width: 35%;
    height: 100%;
    right: 0;
  }

@media only screen and (max-width: 600px) {
    .specsSticky {position: absolute;}
}

body{
    background-color: aliceblue;
}

#upcomingService{
    color: green;
}

    
/* Sign Up Page  */
    .navbar-nav {
        padding-left: 60%;
}

    body{
        font-family: 'Times New Roman';
        background-color: aliceblue;

    }
 
/* Login Page */
.form-group {
    position: auto;
    margin: auto;  
    text-align: center;
  }
  
    .navbar-nav {
        padding-left: 60%;
    }
  
    body{
          background-color: aliceblue;
        }

/* FAQ Page */
.accordionDiv{
    padding-left: 50px;
    padding-right: 50px;
}

h5{
    text-align: center;
}

#topHeader{
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

#searchBar{
    outline: 1px solid green;
}
