/* Color Palette */
/* 000000 black */ 
/* 14213d dark blue*/
/* fca311 mustard*/
/* e5e5e5 grey*/
/* ffffff white*/

body {
    background-color: aliceblue;
    font-family: 'Candara';
}

/* SIDEBAR MENU */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #14213d; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidebar */
}

/* SIDEBAR LINK */
.sidebar a {
    padding-top: 20%;
    padding-left: 20%;
    text-decoration: none;
    font-size: 1.5vw;
    color: #ffffff;
    display: block;
    transition: 0.2s;
}

/* MOUSEOVER, CHANGE LINKS */
.sidebar a:hover {
    color: #fca311;
}

/* BUTTON OPEN */
.openbtn {
    z-index: 1;
    position: fixed;
    font-size: 15px;
    cursor: pointer;
    background-color: #14213d;
    color: #ffffff;
    padding: 5px 5px;
    border: none;
    z-index: 1;
}

.openbtn:hover {
    background-color: #fca311;
}

/* PUSH PAGE CONTENT TO THE RIGHT */
#main {
    transition: margin-left .2s; /* If you want a transition effect */
    padding: 20px;
}

.main {
    padding-top: 35px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.dropdown {
    position: absolute;
    bottom: 0;
    padding-bottom: 10%;
}

.dropdown-menu {
    background-color: #000000;
}

    
/* SIGN UP PAGE */
    .navbar-nav {
        padding-left: 60%;
}

    body{
        font-family: 'Times New Roman';
        background-color: aliceblue;

    }
 
/* LOGIN PAGE */
    .form-group {
    position: auto;
    margin: auto;  
    text-align: center;
  }
  
    .navbar-nav {
        padding-left: 60%;
    }
  
    body{
        background-color: aliceblue;
        }

/* FAQ Page */
.accordionDiv{
    padding-left: 50px;
    padding-right: 50px;
}

h5{
    text-align: center;
}

#topHeader{
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

#searchBar{
    outline: 1px solid green;
}

/* MAP */
#map {
    height: 50%;
    width: 70%;
  }

#displayCarParkOnMap {
    height: 50%;
    width: 50%;
}
  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
  }


/*Review Page*/
.slidecontainer {
    width: 100%;
    justify-content: center;
}

.slider {
-webkit-appearance: none;
width: 100%;
height: 15px;
border-radius: 5px;
background: #d3d3d3;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}
